@font-face {
  font-family: Regular;
  src: url(./assets/ChicagoFLF.ttf);
}

@media(max-width:768px) {
  .main-info h1 {
    font-size: 25px !important;
  }
}

:root {
  --primary-grey: #707070;
  --primary-gold: #FBB827;
  --primary-green: #68BD4D;
  --primary-orange: #F7A35C;
  --primary-red: #E13A3E;
  --primary-purple: #A151A1;
  --primary-blue: #1B9EDB;
  --primary-light: #F8F9FA;
  --primary-ltgrey: #9C9C9D;
  --primary-font: Regular;
}

body {
  font-family: var(--primary-font) !important;
  background: var(--primary-light) !important;
  color: var(--primary-grey);
}

/*********** NAVBAR ***********/
.logo {
  width: 100px;
}

nav a.nav-link {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.6px;
  cursor: pointer;
  font-family: var(--primary-font);

}

.navbar-nav>li>a {
  margin-right: 12px;
  border-top: 3px solid var(--primary-light);
}

.navbar-brand {
  max-width: 275px;
  padding: 0 !important;
  height: 45px !important;
}

.navbar-nav>li>a.active,
.navbar-nav>li>a.active:focus {
  border-top: 3px solid var(--primary-green);
}

.navbar-nav>li>a:hover {
  border-top: 3px solid var(--primary-green);
  transition: .2s ease-in-out;
}


/*********** HEADER ***********/

@media(max-width:768px) {
  .main-info h1 {
    font-size: 25px !important;
  }
}

.header-wrapper {
  position: relative;
  background: url(./assets/Wallpaper-tile.png) repeat;
  background-size: 4px;
  background-position: center;
  height: 90vh;
  font-family: var(--primary-font);
}

.main-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.main-info h1 {
  color: var(--primary-gold);
  background: var(--primary-light);
  text-shadow: 1.5px 0 0 #000000, 0 -1.5px 0 #000000, 0 1.5px 0 #000000, -1.5px 0 0 #000000;
}

.main-info h2 {
  color: var(--primary-grey);
  background: var(--primary-light);
}

.btn-main-offer,
.resume {
  border: 3px solid var(--primary-gold);
  font-family: var(--primary-font);
  border-radius: 0;
  padding: 10px 12px 12px 12px;
  color: var(--primary-light);
  margin: 32px;
}

.btn-main-offer:hover,
.resume:hover {
  text-decoration: none;
  background: var(--primary-light);
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  color: var(--primary-grey);
  transition: .2s ease-in-out;
}

.links {
  margin-top: 40px;

}

/*********** ABOUT ME  ***********/

@media(max-width:468px) {
  .profile-img {
    width: 160px;
  }
}

.photo-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-img {
  width: 16rem;
  border-radius: 50%;
  border: 3px solid var(--primary-orange);
}

.about-header {
  color: var(--primary-orange);
  text-shadow: 1.5px 0 0 #000000, 0 -1.5px 0 #000000, 0 1.5px 0 #000000, -1.5px 0 0 #000000;
}

.about-text {
  color: var(--primary-grey);
}

.iglink {
  color: var(--primary-orange);
  font-size: 20px;

}

.iglink:hover {
  text-decoration: none;

  background: var(--primary-grey);
  color: var(--primary-light);
  transition: .2s ease-in-out;
}

/*********** SKILLS  ***********/

.skillslogo {
  width: 100px;
  height: 100px;
}

.skills h1 {
  color: var(--primary-red);
  text-shadow: 1.5px 0 0 #000000, 0 -1.5px 0 #000000, 0 1.5px 0 #000000, -1.5px 0 0 #000000;
}

.skills {
  text-align: center;
  padding-bottom: 32px;
  background: var(--primary-ltgrey);
  color: var(--primary-light);

}

/*********** PROJECTS ***********/


.projects-wrapper h1 {
  color: var(--primary-purple);
  text-shadow: 1.5px 0 0 #000000, 0 -1.5px 0 #000000, 0 1.5px 0 #000000, -1.5px 0 0 #000000;

}

.projects-wrapper {
  background: var(--primary-light);
  padding: 48px 0;
}

/* .project-image {
  width: 300px;
  height: 200px;
  border: 3px solid var(--primary-purple);
}

.project-image-box {
  position: relative;
  margin: 16px;
} */


/*********** DESIGN ***********/

.design-wrapper {
  background: var(--primary-ltgrey);
}

.design-wrapper h1 {
  color: var(--primary-blue);
  text-shadow: 1.5px 0 0 #000000, 0 -1.5px 0 #000000, 0 1.5px 0 #000000, -1.5px 0 0 #000000;
}

.design-image {
  width: 300px;
  height: 250px;
  border: 3px solid var(--primary-blue);
}

.design-image-box {
  position: relative;
  margin: 16px;
}

.fa-search-plus {
  position: absolute;
  opacity: 0;
  margin-left: -175px;
  margin-top: 100px;
  font-size: 70px;
  color: var(--primary-blue);
  text-shadow: 1.5px 0 0 #000000, 0 -1.5px 0 #000000, 0 1.5px 0 #000000, -1.5px 0 0 #000000;
}

.design-image-box:hover .fa-search-plus {
  opacity: 1;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}



/****** OVERFLOW ******/

.overflow {
  position: absolute;
  opacity: 50%;
  background: var(--primary-light);
  width: 300px;
  height: 250px;
  top: 0;
  border: 3px solid var(--primary-blue);
  cursor: pointer;

}

.design-image-box:hover .overflow {
  opacity: 0;
  transition: 0.3s eae-in-out;
}

/*********** CONTACT ***********/

/*********** FOOTER ***********/