@font-face {
  font-family: Regular;
  src: url(./assets/ChicagoFLF.ttf);
}

@media(max-width:768px) {
  .main-info h1 {
    font-size: 25px !important;
  }
}

:root {
  --primary-grey: #707070;
  --primary-gold: #FBB827;
  --primary-green: #68BD4D;
  --primary-orange: #F7A35C;
  --primary-red: #E13A3E;
  --primary-purple: #A151A1;
  --primary-blue: #1B9EDB;
  --primary-light: #F8F9FA;
  --primary-ltgrey: #9C9C9D;
  --primary-font: Regular;
}

body {
  font-family: var(--primary-font) !important;
  background: var(--primary-light) !important;
  color: var(--primary-grey);
}

/*********** NAVBAR ***********/
.logo {
  width: 40px;
}

nav a.nav-link {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.6px;
  cursor: pointer;
  font-family: var(--primary-font);

}

.navbar-nav>li>a {
  margin-right: 12px;
  border-top: 3px solid var(--primary-light);
}

.navbar-brand {
  max-width: 275px;
  padding: 0 !important;
  height: 45px !important;
}

.navbar-nav>li>a.active,
.navbar-nav>li>a:focus {
  border-top: 3px solid var(--primary-green);
}

.navbar-nav>li>a:hover {
  border-top: 3px solid var(--primary-green);
  transition: .2s ease-in-out;
}


/*********** HEADER ***********/

@media(max-width:768px) {
  .main-info h1 {
    font-size: 25px !important;
  }
}

.header-wrapper {
  position: relative;
  background: url(./assets/Wallpaper-tile.png) repeat;
  background-size: 4px;
  background-position: center;
  height: 100vh;
  font-family: var(--primary-font);
}

.main-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.main-info h1 {
  color: var(--primary-gold);
  background: var(--primary-light);
  text-shadow: 1.5px 0 0 #000000, 0 -1.5px 0 #000000, 0 1.5px 0 #000000, -1.5px 0 0 #000000;
}

.main-info h2 {
  color: var(--primary-grey);
  background: var(--primary-light);
}

.btn-main-offer,
.resume {
  border: 3px solid var(--primary-gold);
  font-family: var(--primary-font);
  border-radius: 0;
  padding: 10px 12px 12px 12px;
  color: var(--primary-light);
  margin: 32px;
}

.btn-main-offer:hover,
.resume:hover {
  text-decoration: none;
  background: var(--primary-light);
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  color: var(--primary-grey);
  transition: .2s ease-in-out;
  text-shadow: none;
}

.links {
  margin-top: 40px;

}

/*********** ABOUT ME  ***********/

@media(max-width:468px) {
  .profile-img {
    width: 500px;
  }
}

.photo-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-img {
  height: 400px;
}

.about-header {
  color: var(--primary-orange);
  text-shadow: 1.5px 0 0 #000000, 0 -1.5px 0 #000000, 0 1.5px 0 #000000, -1.5px 0 0 #000000;
}

.about-text {
  color: var(--primary-grey);
}

.iglink {
  color: var(--primary-orange);
  font-size: 20px;

}

.iglink:hover {
  text-decoration: none;
  background: var(--primary-grey);
  color: var(--primary-light);
  transition: .2s ease-in-out;
}

/*********** SKILLS  ***********/

.skillslogo {
  width: 100px;
  height: 100px;
}

.skills h1 {
  color: var(--primary-red);
  text-shadow: 1.5px 0 0 #000000, 0 -1.5px 0 #000000, 0 1.5px 0 #000000, -1.5px 0 0 #000000;
}

.skills {
  text-align: center;
  padding-bottom: 32px;
  background: var(--primary-ltgrey);
  color: var(--primary-light);

}

/*********** PROJECTS ***********/

.projects h1,
h3 {
  color: var(--primary-purple);
  text-align: center;
  text-shadow: 1.5px 0 0 #000000, 0 -1.5px 0 #000000, 0 1.5px 0 #000000, -1.5px 0 0 #000000;
}

.projects h1 {
  padding-bottom: 60px;
}

.projects {
  background: var(--primary-light);
  padding: 48px 0;
  text-align: center;
  padding-bottom: 64px;
}

.myCarousel {
  background: var(--primary-light);
  color: var(--primary-grey);
  margin-left: auto;
  margin-right: auto;
}

.carousel .slide img {
  height: 550px;
  width: 600px;
}

.carousel .slide {
  background: var(--primary-light);
}

.myCarousel .fa-link,
.fa-github-square {
  color: var(--primary-purple);
  font-size: 40px;
  margin: 10px;
  padding-bottom: 20px;
  text-shadow: 1.5px 0 0 #000000, 0 -1.5px 0 #000000, 0 1.5px 0 #000000, -1.5px 0 0
}




/*********** DESIGN ***********/

.design-wrapper {
  background: var(--primary-ltgrey);
}

.design-wrapper h1 {
  color: var(--primary-blue);
  text-shadow: 1.5px 0 0 #000000, 0 -1.5px 0 #000000, 0 1.5px 0 #000000, -1.5px 0 0 #000000;
}

.design-image {
  width: 300px;
  height: 250px;
  border: 3px solid var(--primary-blue);
}

.design-image-box {
  position: relative;
  margin: 16px;
}

.fa-search-plus {
  position: absolute;
  opacity: 0;
  margin-left: -175px;
  margin-top: 100px;
  font-size: 70px;
  color: var(--primary-blue);
  text-shadow: 1.5px 0 0 #000000, 0 -1.5px 0 #000000, 0 1.5px 0 #000000, -1.5px 0 0 #000000;
}

.design-image-box:hover .fa-search-plus {
  opacity: 1;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}



.carousel .control-dots {
  color: var(--primary-purple);
  /* background-color: var(--primary-light); */
}

.ul control-dots {
  background: var(--primary-light);
}

/****** OVERFLOW ******/

.overflow {
  position: absolute;
  opacity: 50%;
  background: var(--primary-light);
  width: 300px;
  height: 250px;
  top: 0;
  border: 3px solid var(--primary-blue);
  cursor: pointer;

}

.design-image-box:hover .overflow {
  opacity: 0;
  transition: 0.3s eae-in-out;
}


/****** POPUP BOX ******/

.design-img-popup {
  width: 575px;
  height: 450px;
  display: flex;
  justify-content: center;
  padding: .8px;
  margin: 0 auto;
}

@media(max-width: 768px) {
  .design-img-popup {
    width: 90%;
    height: 90%;
  }
}

@media(max-height: 640px) {

  .image-box-wrapper {
    height: 100% !important;
  }

  .design-img-popup {
    width: 50%;
    height: 55%;
  }
}

@media(max-height: 280px) {

  .image-box-wrapper {
    height: 100% !important;
  }

  .design-img-popup {
    width: 50%;
  }
}


/*********** CONTACT ***********/

@media(max-width: 768px) {
  .contact .container {
    padding: 0 16px;

  }

  .contact {
    padding: 0
  }
}

.contact {
  position: relative;
  background: url(./assets/Wallpaper-tile.png) repeat;
  background-size: 4px;
  background-position: center;
  height: 90vh;
}

.contact h1 {
  color: var(--primary-gold);
  text-shadow: 1.5px 0 0 #000000, 0 -1.5px 0 #000000, 0 1.5px 0 #000000, -1.5px 0 0 #000000;
  padding-bottom: 100px;
}

.contact-btn {
  background: none;
  margin: 16px 0 0 0;
  width: 100%;
}

.contact input,
.contact textarea {
  width: 100%;
  box-sizing: border-box;
  background: none;
  resize: none;
  border: 0;
  border-bottom: 2px solid var(--primary-ltgrey);
  border-radius: 0;
  outline: 0 !important;
  box-shadow: none !important;
  color: var(--primary-light);
  margin-bottom: 14px;
  padding-left: 0 !important;
}

.contacts .container {
  padding: 64px 0;
}

.contact input:focus,
.contact textarea:focus {
  background: transparent;
  color: var(--primary-gold);
  border-bottom: 2px solid var(--primary-gold);
}


.contact textarea {
  height: 110px !important;
}

.error-message {
  color: var(--primary-grey);
  background-color: var(--primary-light);
}

.succes-message {
  font-weight: 900;
  color: var(--primary-light);
}

/*********** FOOTER ***********/

.footer {
  text-decoration: none;
  background: var(--primary-light);
  color: var(--primary-ltgrey);
  text-align: center;


}

.footer a {
  text-decoration: none;
  color: var(--primary-ltgrey);
}

.footer a:hover {
  background: var(--primary-grey);
  color: var(--primary-light);
  transition: .2s ease-in-out;
  cursor: pointer;
}

.links {
  font-size: 35px;
  text-align: right;
  padding: 0 5px 0 5px;
}

.links a:hover {
  background-color: none;
}