@font-face {
  font-family: Regular;
  src: url(./assets/ChicagoFLF.ttf);
}

root {
  --primary-grey: #707070;
}

body {
  font-family: 'Regular';
  background-color: var(--primary-grey)
}

/*********** NAVBAR ***********/
.logo {
  width: 16.25rem;
}

/**** MENU LINKS  ****/

nav a.nav-link {
  font-weight: 500;
  font-size: .8rem;
  letter-spacing: 0.0375rem;
  cursor: pointer;
  font-family: Regular;
}

.navbar-nav>li>a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  height: 6rem !important;
}