@font-face {
  font-family: Regular;
  src: url(./assets/ChicagoFLF.ttf);
}

:root {
  --primary-grey: #707070;
  --primary-gold: #FFE656;
  --primary-light: #F8F9FA;

}

body {
  font-family: 'Regular';
  background-color: var(--primary-grey)
}

/*********** NAVBAR ***********/
.logo {
  width: 100px;
}

/**** MENU LINKS  ****/

nav a.nav-link {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.6px;
  cursor: pointer;
  font-family: Regular;
}

.navbar-nav>li>a {
  margin-right: 12px;
  margin-left: 12px;
  border-top: 3px solid var(--primary-light);
}

.navbar-brand {
  max-width: 275px;
  padding: 0 !important;
  height: 95px !important;
}

.navbar-nav>li>a.active,
.navbar-nav>li>a.active:focus {
  border-top: 3px solid var(--primary-gold);
}

.navbar-nav>li>a:hover {
  border-top: 3px solid var(--primary-gold);
}